:host {
    display: grid;
}
h1 {
    margin: 0 0 10px 0;
}

#duration {
    margin: auto;
}
h2 {
    z-index: 998;
    margin: -130px auto;
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: 26px;
    }
}

